@using MiniRedSocial.Core.Application.ViewModels.Message;
@model SaveMessageViewModel
@{
    ViewData["Title"] = "Comentarios";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Agregar Comentario</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Message" asp-action="AgregarComentario" >

                        <input hidden asp-for="PublicationId" />

                        <input hidden asp-for="Id" />

                        <div class="mb-3">
                            <label asp-for="Content" class="form-label">Mensaje: </label>
                            <textarea asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Comentar</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>


                </div>

            </div>
        </div>
    </div>

</div>


